<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-DPGA6NK\SQLDEV2017;Persist Security Info=True;Password=root;User ID=Sa;Initial Catalog=ZooDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>